.body {
   background-color:#F6F4F4;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
}


.nav-box {
width: 95%;
margin-top: -1%;
height: 52px;
margin-left: 24px;
border-radius: 10px;
margin-bottom:1%;
background-color:#AC9C8D;
}


.name {
   font-family:'Times New Roman', Times, serif;
   font-weight: 700;
   font-size: medium;
   margin-left: 20px;
   display: flex;
   justify-content:baseline;
}


.about-box {
   border-radius: 10px;
    width: 37vw;
    height: 49vh;
    float:left;
    margin-top: -25.5%;
    margin-left: 2%;
    border-radius: 10px;
   background-color: #DDD9CE;
}


.link {
    display: flex;
    justify-content: flex-end;
    margin-top: -1.5%;
    margin-right: 30%;
    padding-bottom: 20%;
}


.contact {
    display: flex;
    justify-content: flex-end;
}


.about-me {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    margin-top: -18%;
    margin-bottom: 4vw;
    font-size: large;
    margin-left: 3%;
}


.where {
    margin-left: 3%;
    margin-top: -5%;
}


.bcca {
    margin-left: 3%;
    margin-top: -3%;
}


.studying {
    margin-left: 3%;
    margin-top: -3%;
}


.future {
    margin-left: 3%;
    margin-top: -3%;
}


.skill-box {
   border-radius: 10px;
   width: 30.1vw;
   height: 39vh;
   margin-top: -19%;
   margin-left: 2%;
   background-color: #AC9C8D;
}


.list {
    margin-top: -1%;
}


.skill {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: large;
    margin-left: 3%;
    margin-top: 2.3%;
}


.div  {
    float: right;
    margin-top: -60%;
}


.photo {
    border-radius: 10px;
    width:173%;
    height: 149%;
    margin-top: -33%;
    margin-left: -37%;
    float: left;
}


.div2{
    width: 22.4%;
    border-radius: 10px;
    height: 53.2vh;
    margin-left: 42%;
    margin-top: -25.5%;
    float:left;
    background-color: #D0B7A9;
}


.resource-box {
    width: 30vw;
    height:35vh;
    background-color: #F4D9C0;
    margin-left: 35%;
    margin-top: 26%;
    border-radius: 10px;
    
}


.color {
    margin-left: 3%;
    color: black;
}

.logo {
    margin-left: 3%;
}

.explain {
    margin-left:3%;
    color: black;
}

.inspo {
    margin-left: 3%;
    color: black;
}
.resources {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: large;
    padding-top: 3% ;
    margin-left: 3%;
}

.project-box{
    width: 28.5vw;
    min-height: 75vh;
    background-color: #F4D9C0;
    float:right;
    margin-right: 45px;
    margin-top: -41.7%;
    border-radius: 10px;
}

.projects {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: large;
    margin-left: 5%;
    margin-top: 3%;
}


.contact-box {
    width:362px;
    height:73px;
    border-radius: 10px;
    background-color: #DDD9CE;
    margin-left: 68%;
    margin-top: -6.1%;
}


.contact {
    font-weight: 600;
    font-size: large;
    margin-top: 1%;
    margin-right: 70%;
    padding-top: 2%;
}

.linkedin {
    margin-left: 20%;
    color: black;
}
.email {
    margin-left: 5%;
    color:black;
}

.github {
    margin-left: 5%;
    color:black;
}

.resume {
    margin-left: 5%;
    color:black;
}

.flower {
    width: 80px;
    height: 80px;
    margin-left: 29vw;
    margin-top: 1vw;
}